// --COLORS-- //
// PRIMAMRY //
$dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
// Accent //
$bright-blue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
// Neutral //
$grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

//--FONTS--//
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//--CSS RESET--//
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0 2em;
}

// HEADER //
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    .header-logo {
        max-width: 5.5em;
    }

    .nav {
        display: flex;
        gap: 1.5em;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: #000;
                font-size: 13px;
            }
        }
    }
}

//SECTION 1//
.section-1 {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em; //card and files svg vertical spacing//

    .files-svg {
        max-width: 20em;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        h2 {
            width: 90%;
            text-align: center;
            color: $dark-blue;
        }

        p {
            font-size: 15px;
            text-align: center;
            width: 90%;
            line-height: 1.5em;
            color: $dark-blue;
        }

        label {
            width: 100%;

            form {
                display: flex;
                flex-direction: column;
                gap: 1em;

                >* {
                    padding: 1em;
                }

                input[type="email"] {
                    padding-left: 1.5em;
                    border-radius: 5px;
                    border: solid #000 1px;
                }
                input[type="email"]:focus{
                    background-color: #d8d6d6;
                }

                input[type=submit] {
                    background-color: $bright-blue;
                    color: #fff;
                    font-weight: bold;
                    border-radius: 5px;
                    text-align: center;
                    cursor: pointer;
                }
            }

        }
    }
}

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8em;
    background: url('/assets/bg-curve-mobile.svg') no-repeat;

    .people-svg{
        max-width: 20em;
    }
}