    // --COLORS-- //
    // PRIMAMRY //
    $dark-blue: hsl(243, 87%, 12%);
    $desaturated-blue: hsl(238, 22%, 44%);
    // Accent //
    $bright-blue: hsl(224, 93%, 58%);
    $cyan: hsl(170, 45%, 43%);
    // Neutral //
    $grayish-blue: hsl(240, 75%, 98%);
    $light-gray: hsl(0, 0%, 75%);

    //--FONTS--//
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    //--CSS RESET--//
    *,
    ::before,
    ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
    }

    // HEADER //
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em;

        .header-logo {
            max-width: 5.5em;
        }

        .nav {
            display: flex;
            gap: 1.5em;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }